
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #444;
}

a {
    text-decoration: none;
    color: #3b5998;
}

.hidden {
    display: none;
}

#username-page {
    text-align: center;
}

#room-list li.active {
    background-color: #e0e0e0; /* A light grey background */
    font-weight: bold;
}

#room-list li {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

#room-list li:hover {
    background-color: #f5f5f5;
}

.username-page-container {
    background: #f1f1f1;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    max-width: 430px;
    margin: 100px auto 0;
    padding: 35px;
    border-radius: 3px;
}

#username-page .title {
    font-size: 25px;
    font-weight: 500;
    color: #303030;
    letter-spacing: 1px;
}

#username-page .form-group {
    margin-bottom: 15px;
}

#username-page .form-control {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

#username-page .username-submit {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
}


#chat-page {
    position: relative;
    height: 100%;
}

.chat-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    height: 100%;
    position: relative;
}

.chat-header {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding: 20px;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
    text-align: center;
}

#messageArea {
    height: calc(100% - 120px);
    overflow-y: auto;
    padding: 20px;
    list-style-type: none;
    margin: 0;
}

#messageArea li {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

#messageArea li .event-message {
    text-align: center;
    color: #777;
    font-size: 14px;
}

#messageArea li .chat-message {
    background-color: #f1f1f1;
    padding: 12px;
    border-radius: 4px;
    max-width: 80%;
    align-self: flex-start;
}

#messageArea li .chat-message .chat-username-colored {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

#messageForm {
    padding: 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#messageForm .input-group {
    display: flex;
}

#messageForm .form-control {
    flex-grow: 1;
    height: 45px;
    line-height: 45px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 16px;
}

#messageForm button {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
    padding: 0 20px;
}

.primary {
    background-color: #3b5998;
    color: #fff;
}

.accent {
    background-color: #1abc9c;
    color: #fff;
}


.username-submit:hover {
    background-color: #148f77;
}

.primary:hover {
    background-color: #29487d;
}


@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 100%;
    }
}

